*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 850px;
    height: 450px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}
.left-hero{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}
.right-hero{
    height: 100%;
    width: 300px;
}
#wrapper2D{
    height: 100%;
    width: 400px;
    margin-right: 20px;
}
#Canvas2D,
#Canvas3D{
    height: 100%;
    width: 100%;
}
.hudInfoWrapper .text{
    padding: 5px 0;
}
.hudInfoWrapper ul{
    list-style: none;
    padding-bottom: 10px;
}
.hudInfoWrapper ul:nth-child(2){
    border-bottom: 1px solid;
    margin-bottom: 10px;
}
.hudInfoWrapper ul li{
    padding: 2px 0;
}
.hudInfoWrapper ul span{
    width: 50px;
    display: inline-block;
    font-size: 24px;
}